<div class="login-container">
    <div class="login-background-image">
    </div>
    <div class="login-form">
        
        <div class="login-header">DigiSahayak</div>
        <div class="login-header-2">Reset Password</div>
       
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div  style="position: relative; display: inline-block;">
            <mat-form-field class="form-field">
              <mat-label>Password</mat-label>
              <input matInput [type]="showPassword ? 'text' : 'password'" 
              formControlName="password" 
              placeholder="Enter Password"
              class="password-input"
              minlength="6"
              #password
              (focus)="onFocus()" (blur)="onBlur()"/>
            </mat-form-field>
            <div class="validation-message" *ngIf="showValidation">
            <b>Your Password must be:</b>
           <p [ngClass]="{'valid': !resetPasswordForm.get('password')?.errors?.['lowercase'], 
          'invalid': resetPasswordForm.get('password')?.errors?.['lowercase']}">
              <i [class]="!resetPasswordForm.get('password')?.errors?.['lowercase'] ? 'fa fa-check' : 'fa fa-xmark'">
              </i>
              Atleast one lowercase letter
          </p>

          <p [ngClass]="{'valid': !resetPasswordForm.get('password')?.errors?.['uppercase'], 
          'invalid': resetPasswordForm.get('password')?.errors?.['uppercase']}">
              <i [class]="!resetPasswordForm.get('password')?.errors?.['uppercase'] ? 'fa fa-check' : 'fa fa-xmark'"></i>
              Atleast one uppercase letter
          </p>

          <p [ngClass]="{'valid': !resetPasswordForm.get('password')?.errors?.['number'], 
          'invalid': resetPasswordForm.get('password')?.errors?.['number']}">
              <i [class]="!resetPasswordForm.get('password')?.errors?.['number'] ? 'fa fa-check' : 'fa fa-xmark'"></i>
              Atleast one number
          </p>
         
          <p [ngClass]="{'valid': !resetPasswordForm.get('password')?.errors?.['specialChar'], 
          'invalid': resetPasswordForm.get('password')?.errors?.['specialChar']}">
              <i [class]="!resetPasswordForm.get('password')?.errors?.['specialChar'] ? 'fa fa-check' : 'fa fa-xmark'"></i>
             Atleast one special character
          </p>

          <p [ngClass]="{'valid': !resetPasswordForm.get('password')?.errors?.['minlength'], 
          'invalid': resetPasswordForm.get('password')?.errors?.['minlength']}">
              <i [class]="!resetPasswordForm.get('password')?.errors?.['minlength'] ? 'fa fa-check' : 'fa fa-xmark'"></i>
              Be atleast 6 to 10 characters
          </p>
        </div>
          </div>
            <div class="input-field">
            <mat-form-field class="form-field">
              <mat-label>Confirm Password</mat-label>
              <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" 
              placeholder="Confirm Password">
              <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('mismatch') &&
               resetPasswordForm.get('confirmPassword')?.touched">
                Passwords do not match.
              </mat-error>
            </mat-form-field>
            
          </div>
          <div class="options">
            <mat-checkbox (change)="togglePasswordVisibility()">Show Password</mat-checkbox>
            <button mat-flat-button class="signin-button" type="submit" [disabled]="!resetPasswordForm.valid"
            (click)="goToLogin()"
            >Submit</button> 
          </div>
          
                     
</form>
    </div>
  </div>