<!-- <h2 mat-dialog-title>Documents Upload Successfully!</h2>
<mat-dialog-content>
    <p>Do you want to process these files</p>
</mat-dialog-content>
<mat-dialog-actions aling="end">
    <button mat-button mat-dialog-close="later>"Process Later></button>
    <button mat-raised-buttoncolor="primary" [mat-dialog-close]="'now'">Process Now</button>
</mat-dialog-actions> -->


<mat-dialog-content>
    <div class="dialog-container">
      <!-- Close Icon in Top Right -->
     
        <mat-icon class="close-btn" mat-dialog-close >highlight_off</mat-icon>
  
      <!-- Icon and Text on Same Line -->
      <div class="icon-and-text">
        <mat-icon class="success-icon">check_circle_outline</mat-icon>
        <h2>Documents uploaded successfully!</h2>
      </div>
  
      <!-- Subtext -->
      <p>Do you want to process these files?</p>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions align="center">
    <!-- Buttons -->
    <button mat-stroked-button mat-dialog-close class="process-later-btn"
     (click)="processLater(0)"> Process Later</button>
    <button mat-flat-button class="process-now-btn"  (click)="processNow(1)">Process Now</button>
  </mat-dialog-actions>